@import '../variables';

.btn {
  border-radius: 4px;
  transition: all .1s ease-in-out;
  padding: 0 10px;
  border: 1px solid $back-color;
  background-color: $light-color;
  color: $dark-color;
  line-height: 30px;
  display: inline-block;

  svg {
    margin-bottom: -2px;
    fill: $dark-color;
    transition: all .1s ease-in-out;
  }

  &:hover {
    border-color: $back-color;
    background-color: $dark-color;
    color: $light-color;

    svg {
      fill: $light-color;
    }
  }

  &.primary {
    border: 1px solid $primary-color;
    svg {fill: $primary-color;}
    &:hover {
      background-color: $primary-color;
      svg {fill: $light-color;}
    }
  }

  &.secondary {
    border: 1px solid $secondary-color;
    svg {fill: $secondary-color;}
    &:hover {
      background-color: $secondary-color;
      svg {fill: $light-color;}
    }
  }

  &.error {
    border: 1px solid $error-color;
    svg {fill: $error-color;}
    &:hover {
      background-color: $error-color;
      svg {fill: $light-color;}
    }
  }
}
