@import './../variables';

.footer {
  background: $dark-color;
  color: $light-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    padding: 12px;

    .copyright {
      margin: 0;

    }
    .nav {
      color: $light-color;
    }
  }
}