@import './../variables';

.item {
  display: flex;
  border-bottom: 1px solid $back-color;
  &:last-child {
    border-bottom: 0;
  }
  .id {
    flex: 0 1 100px;
    border-right: 1px solid $back-color;
    line-height: 32px;
    padding: 10px 15px;
  }

  .title {
    flex: 1;
    border-right: 1px solid $back-color;
    line-height: 32px;
    padding: 10px 15px;
  }

  .buttons {
    flex: 0 1 100px;
    button {
      margin: 10px 0 0 10px;
    }
  }
}